<nav class="w-screen h-[10vh] flex justify-evenly items-center px-3 bg-cyan-100 mb-2">
    <h1>NAME</h1>
    <div id="routes" class="w-2/3 flex justify-evenly">
        <a href="/">Home</a>
        <a href="/generate-toll">Generate Toll</a>
        <a href="/car-pooling">Car Pool</a>
    </div>
</nav>